body {
  margin: 0px;
  line-height: 1.5em;
  background-color: #FAFAFA;
}

/* misc elements */

hr {
  border-style: solid;
  color: #EEEEEE;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

/* website max-width */

.site-max-width {
  max-width: 960px;
  margin: auto;
}

/* header part */

header {
  border-bottom: 4px double #424242;
  text-align: center;
  background-color: #FFF;
}

.header-container {
  padding: 16px 16px 0px 16px;
}

/* banner in header */

.banner {
  font-size: 4em;
  display: block;
  line-height: 1em;
}

.banner a {
  color: #000;
}

.banner a:hover {
  text-decoration: none;
}

/* meta info in header */

.header-meta {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 0px;
}

.header-meta-item1 {
  display: inline-block;
  text-align: left;
  width: 130px;
}

.header-meta-item2 {
  display: inline-block;
  width: 130px;
  text-align: center;
}

.header-meta-item3 {
  display: inline-block;
  width: 130px;
  text-align: right;
}

/* section part */

.article-container {
  padding: 16px;
  background-color: #FFF;
}

/* article meta */

.article-meta {
  background: #EEEEEE;
  border-radius: 4px 24px 4px 4px;
  text-align: center;
  line-height: 1em;
  padding: 8px;
}

.article-meta h1, .article-meta span {
  line-height: 1.1em
}

.article-category a {
  font-weight: bolder;
  text-transform: uppercase;
  color: #757575;
}

#TableOfContents, #TOC {
  border-bottom: 1px solid #FFF;
  
}

/* code and blockquote */

pre {
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  background: #EEEEEE;
}

pre code {
  background: none;
  padding: .5em;
  display: block;
}

blockquote {
  background: #EEEEEE;
  border-left: 4px solid #BDBDBD;
  padding: 8px 24px;
}

/* table */

table {
  margin: 12px auto auto;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

table thead th {
  border-bottom: 1px solid #BDBDBD;
}

th, td {
  padding: 4px;
}

tr:nth-child(even) {
  background: #F5F5F5
}

/* footnote */

.footnotes {
  font-size: .9em;
}

.footnotes hr {
  border-bottom: 1px solid;
  width: 45%;
  margin-left: 16px;
}

/* footer part */

footer {
  padding: 0px;
  background-color: #424242;
  color: #BDBDBD;
  text-align: center;
}

footer a {
  color: #BDBDBD;
}

footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.footer-container {
  padding: 16px;
}

/* footer site-menu */

.site-menu {
  max-width: 960px;
  margin: auto;
  margin-bottom: 12px;
  flex-wrap: wrap;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.site-menu li {
  display: inline-block;
  font-weight: bold;
}

/* post-nav */

.post-nav {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.post-footer {
  text-align: left;
  /* border-left: 4px solid #BDBDBD; */
  background: #EEEEEE;
  border-radius: 16px 16px 16px 0px;
  width: 80%;
  padding: 12px 16px;
  margin: 48px 0px 4px;
}

/* article-category and term-list */

.term-list {
  padding-left: 100px;
  text-align: center;
  padding: 0px;
}

.term-list li {
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
}

/* post cart list */

.article-list {
  padding: 16px 16px 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}

.article-list article {
  flex: 1 0 350px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #BDBDBD;
  margin: 0 0 16px 16px;
  padding: 16px;
  overflow-x: hidden;
  border-radius: 4px 16px 4px 4px;
}

@media (max-width: 382px) {
  .article-list article { 
    flex: auto;
  }
}

@media (min-width: 600px) {
  .article-list article {
    max-width: calc(50% - 16px);
  }
}

@media (min-width: 960px) {
  .article-list article {
    max-width: calc(33.33333% - 16px);
  }
}

.article-list article {
  background: #FFF;
}

.article-card h1 {
  font-size: 1.5em;
  margin: .2em auto .2em 0;
  line-height: 1.2em;
}

.article-card h1 a {
  color: #000;
}

.article-card-thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 4px 8px 4px 0;
  box-shadow: 0 0 4px #BDBDBD;
}

.article-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pagination */

.pagination {
  text-align: center;
  padding: 0px;
}

.pagination li, .term-list li {
  display: inline;
}

.pagination a {
  padding: 0 6px;
}

img, iframe, video {
  max-width: 100%;
}
